<header class="header">
    {{#if @site.logo}}
        <div class="blog-logo">
            {{#is "home"}}
                <img alt="{{@site.title}}" src="{{@site.logo}}" />
            {{else}}
                <a href="{{@site.url}}" title="{{@site.title}}">
                    <img alt="{{@site.title}}" src="{{@site.logo}}" />
                </a>
            {{/is}}
        </div>
    {{/if}}

    <div class="blog-title">
        {{#is "home"}}
            <h1>
                {{@site.title}}
            </h1>
        {{else}}
            <h2>
                <a href="{{@site.url}}" title="{{@site.title}}">{{@site.title}}</a>
            </h2>
        {{/is}}
    </div>

    {{#if @site.description}}
        <div class="blog-description">
            <p>{{@site.description}}</p>
        </div>
    {{/if}}

    {{#if @site.navigation}}
        <nav class="blog-nav">
            {{navigation}}
        </nav>
    {{/if}}
</header>